<div>
    <h2 id="page-heading">
        <span jhiTranslate="indraApp.revenda.home.title">Revendas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-revenda" [routerLink]="['/revenda/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="indraApp.revenda.home.createLabel">
            Create new Revenda
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="revendas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="indraApp.revenda.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigoRevenda"><span jhiTranslate="indraApp.revenda.codigoRevenda">Codigo Revenda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bandeira"><span jhiTranslate="indraApp.revenda.bandeira">Bandeira</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produto"><span jhiTranslate="indraApp.revenda.produto">Produto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regiao.id"><span jhiTranslate="indraApp.revenda.regiao">Regiao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let revenda of revendas ;trackBy: trackId">
                <td><a [routerLink]="['/revenda', revenda.id, 'view' ]">{{revenda.id}}</a></td>
                <td>{{revenda.nome}}</td>
                <td>{{revenda.codigoRevenda}}</td>
                <td>{{revenda.bandeira}}</td>
                <td>{{revenda.produto}}</td>
                <td>
                    <div *ngIf="revenda.regiao">
                        <a [routerLink]="['../regiao', revenda.regiao?.id, 'view' ]" >{{revenda.regiao?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/revenda', revenda.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/revenda', revenda.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'revenda', { outlets: { popup: revenda.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="revendas && revendas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
