<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-revenda-heading" jhiTranslate="indraApp.revenda.home.createOrEditLabel">Create or edit a Revenda</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!revenda.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.revenda.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome').invalid && (editForm.get('nome').dirty || editForm.get('nome').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.revenda.codigoRevenda" for="field_codigoRevenda">Codigo Revenda</label>
                    <input type="number" class="form-control" name="codigoRevenda" id="field_codigoRevenda"
                           formControlName="codigoRevenda"/>
                    <div *ngIf="editForm.get('codigoRevenda').invalid && (editForm.get('codigoRevenda').dirty || editForm.get('codigoRevenda').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigoRevenda').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('codigoRevenda')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.revenda.bandeira" for="field_bandeira">Bandeira</label>
                    <input type="text" class="form-control" name="bandeira" id="field_bandeira"
                           formControlName="bandeira"/>
                    <div *ngIf="editForm.get('bandeira').invalid && (editForm.get('bandeira').dirty || editForm.get('bandeira').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bandeira').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.revenda.produto" for="field_produto">Produto</label>
                    <input type="text" class="form-control" name="produto" id="field_produto"
                           formControlName="produto"/>
                    <div *ngIf="editForm.get('produto').invalid && (editForm.get('produto').dirty || editForm.get('produto').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('produto').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.revenda.regiao" for="field_regiao">Regiao</label>
                    <select class="form-control" id="field_regiao" name="regiao" formControlName="regiao">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="regiaoOption.id === editForm.get('regiao').value?.id ? editForm.get('regiao').value : regiaoOption" *ngFor="let regiaoOption of regiaos; trackBy: trackRegiaoById">{{regiaoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
