<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="revenda">
            <h2><span jhiTranslate="indraApp.revenda.detail.title">Revenda</span> {{revenda.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="indraApp.revenda.nome">Nome</span></dt>
                <dd>
                    <span>{{revenda.nome}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.revenda.codigoRevenda">Codigo Revenda</span></dt>
                <dd>
                    <span>{{revenda.codigoRevenda}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.revenda.bandeira">Bandeira</span></dt>
                <dd>
                    <span>{{revenda.bandeira}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.revenda.produto">Produto</span></dt>
                <dd>
                    <span>{{revenda.produto}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.revenda.regiao">Regiao</span></dt>
                <dd>
                    <div *ngIf="revenda.regiao">
                        <a [routerLink]="['/regiao', revenda.regiao?.id, 'view']">{{revenda.regiao?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/revenda', revenda.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
