<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coleta">
            <h2><span jhiTranslate="indraApp.coleta.detail.title">Coleta</span> {{coleta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="indraApp.coleta.dataColeta">Data Coleta</span></dt>
                <dd>
                    <span>{{coleta.dataColeta}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.coleta.unidadeMedida">Unidade Medida</span></dt>
                <dd>
                    <span>{{coleta.unidadeMedida}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.coleta.valorCompra">Valor Compra</span></dt>
                <dd>
                    <span>{{coleta.valorCompra}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.coleta.valorVenda">Valor Venda</span></dt>
                <dd>
                    <span>{{coleta.valorVenda}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.coleta.revenda">Revenda</span></dt>
                <dd>
                    <div *ngIf="coleta.revenda">
                        <a [routerLink]="['/revenda', coleta.revenda?.id, 'view']">{{coleta.revenda?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/coleta', coleta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
