<div>
    <h2 id="page-heading">
        <span jhiTranslate="indraApp.coleta.home.title">Coletas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-coleta" [routerLink]="['/coleta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="indraApp.coleta.home.createLabel">
            Create new Coleta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="coletas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataColeta"><span jhiTranslate="indraApp.coleta.dataColeta">Data Coleta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unidadeMedida"><span jhiTranslate="indraApp.coleta.unidadeMedida">Unidade Medida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorCompra"><span jhiTranslate="indraApp.coleta.valorCompra">Valor Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorVenda"><span jhiTranslate="indraApp.coleta.valorVenda">Valor Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="revenda.id"><span jhiTranslate="indraApp.coleta.revenda">Revenda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coleta of coletas ;trackBy: trackId">
                <td><a [routerLink]="['/coleta', coleta.id, 'view' ]">{{coleta.id}}</a></td>
                <td>{{coleta.dataColeta | date:'mediumDate'}}</td>
                <td>{{coleta.unidadeMedida}}</td>
                <td>{{coleta.valorCompra}}</td>
                <td>{{coleta.valorVenda}}</td>
                <td>
                    <div *ngIf="coleta.revenda">
                        <a [routerLink]="['../revenda', coleta.revenda?.id, 'view' ]" >{{coleta.revenda?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/coleta', coleta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/coleta', coleta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'coleta', { outlets: { popup: coleta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="coletas && coletas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
