<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-coleta-heading" jhiTranslate="indraApp.coleta.home.createOrEditLabel">Create or edit a Coleta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!coleta.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.coleta.dataColeta" for="field_dataColeta">Data Coleta</label>
                    <div class="input-group">
                        <input id="field_dataColeta" type="text" class="form-control" name="dataColeta" ngbDatepicker  #dataColetaDp="ngbDatepicker" formControlName="dataColeta"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataColetaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dataColeta').invalid && (editForm.get('dataColeta').dirty || editForm.get('dataColeta').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataColeta').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.coleta.unidadeMedida" for="field_unidadeMedida">Unidade Medida</label>
                    <input type="text" class="form-control" name="unidadeMedida" id="field_unidadeMedida"
                           formControlName="unidadeMedida"/>
                    <div *ngIf="editForm.get('unidadeMedida').invalid && (editForm.get('unidadeMedida').dirty || editForm.get('unidadeMedida').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('unidadeMedida').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.coleta.valorCompra" for="field_valorCompra">Valor Compra</label>
                    <input type="number" class="form-control" name="valorCompra" id="field_valorCompra"
                           formControlName="valorCompra"/>
                    <div *ngIf="editForm.get('valorCompra').invalid && (editForm.get('valorCompra').dirty || editForm.get('valorCompra').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valorCompra').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valorCompra')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.coleta.valorVenda" for="field_valorVenda">Valor Venda</label>
                    <input type="number" class="form-control" name="valorVenda" id="field_valorVenda"
                           formControlName="valorVenda"/>
                    <div *ngIf="editForm.get('valorVenda').invalid && (editForm.get('valorVenda').dirty || editForm.get('valorVenda').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valorVenda').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valorVenda')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indraApp.coleta.revenda" for="field_revenda">Revenda</label>
                    <select class="form-control" id="field_revenda" name="revenda" formControlName="revenda">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="revendaOption.id === editForm.get('revenda').value?.id ? editForm.get('revenda').value : revendaOption" *ngFor="let revendaOption of revendas; trackBy: trackRevendaById">{{revendaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
