<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="regiao">
            <h2><span jhiTranslate="indraApp.regiao.detail.title">Regiao</span> {{regiao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="indraApp.regiao.sigla">Sigla</span></dt>
                <dd>
                    <span>{{regiao.sigla}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.regiao.estado">Estado</span></dt>
                <dd>
                    <span>{{regiao.estado}}</span>
                </dd>
                <dt><span jhiTranslate="indraApp.regiao.municipio">Municipio</span></dt>
                <dd>
                    <span>{{regiao.municipio}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/regiao', regiao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
